/* El cuerpo de la página */
body {
    background-color: #2f2f35;
    font-family: sans-serif;
    color: #ffffff; /* Esto hará que el texto general sea blanco */
}

/* La tabla */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: #3e3e45; /* Un gris un poco más claro para que resalte */
}

/* Los encabezados */
h1, h2 {
    color: #ffffff;
}

/* Las celdas de encabezado de la tabla */
th {
    background-color: #f4f4f4;
    color: #000000; /* Texto negro para que se lea sobre el fondo claro */
}

/* Las celdas normales para que se vean los bordes */
td, th {
    border: 1px solid #555;
    padding: 10px;
}